[Desktop Entry]
Type=Archive
Name=PSX
Categories=PSX;Games;
Description=PSX Games Archive
Background=/usr/share/backgrounds/psx.png
BackgroundDirectory=/home/player/roms/psx/backgrounds/%s.{png;jpg;bmp}
IconsDirectory=/home/player/roms/psx/icons/%s.{png;jpg;bmp}
Directory=/home/player/roms/psx
FileExtensions=cue;
Exec=retroarch -L /usr/lib/libretro/pcsx_rearmed_libretro.so %s
